# Python
__pycache__/
*.pyc
.pytest_cache/
*.log

# Virtual env
.venv/

# Local gcloud creds (you created this to fix WinError 5)
.gcloud/

# Secrets
*.env
.env.*


# Handover artifacts (keep out of repo)
docs/handover/*.docx
docs/handover/*.pdf
docs/handover/*.pptx
docs/handover/*.xlsx
